Repository flaport/klujax: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: "336fdd7"
    hooks:
      - id: clang-format
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.13.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|md|yaml|yml|json|css)$
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run --no-sync pyright
        language: system
        files: \.(py)$

only run it on tags
  .github/workflows/main.yml
Due: prettier

Bump to 0.4.3
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

download correct wheels
  .github/workflows/main.yml
Due: prettier

support python 3.14
  .github/workflows/main.yml
  pyproject.toml
Due: prettier

Bump to 0.4.4
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

update cibuildwheel
  .github/workflows/main.yml
Due: prettier

Bump to 0.4.5
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

some c++ fixes
  .github/workflows/main.yml
  klujax.cpp
  klujax.py
  uv.lock
Due: prettier, pyright

auto-format with pre-commit hook
  .pre-commit-config.yaml
  klujax.cpp
Due: prettier

update Makefile
  Makefile
Due: none

switch to bver versioning
  pyproject.toml
Due: none

update pre-commit config
  .pre-commit-config.yaml
  klujax.py
Due: prettier, pyright

error when trying to get derivative of indices
  klujax.py
Due: pyright

pre-commit: remove ruff legacy alias
  .pre-commit-config.yaml
Due: prettier

fix tests
  tests.py
Due: pyright

benchmark
  benchmark.py
  klujax.cpp
Due: pyright

update benchmark
  benchmark.py
  pyproject.toml
Due: pyright

RAII
  klujax.cpp
Due: none

check klu status
  benchmark.py
  klujax.cpp
  klujax.py
Due: pyright

justfile
  Makefile
  justfile
Due: none

Update CI workflow to use just instead of make
  .github/workflows/main.yml
Due: prettier

Bump version from 0.4.5 to 0.4.6
  README.md
  justfile
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

Add low-level split-solve API for advanced users
  klujax.cpp
Due: none

update tests
  tests.py
  uv.lock
Due: pyright

update readme
  README.md
Due: prettier

Add true split-solve API with klu_analyze, klu_factor, klu_solve
  klujax.cpp
  pyproject.toml
  tests.py
Due: pyright

fix klujax debug
  klujax.py
Due: pyright

Bump version from 0.4.6 to 0.4.7
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

jax>=0.9 compatibility
  klujax.py
Due: pyright

Bump version from 0.4.7 to 0.4.8
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

small edits to readme
  README.md
Due: prettier

cleanup of comments
  klujax.cpp
  klujax.py
Due: pyright

addition of solve_with_numeric (working)
  klujax.cpp
  klujax.py
  tests.py
Due: pyright

added tests on pointer management
  tests.py
Due: pyright

updated readme: Advanced usage
  README.md
Due: prettier

added solve_with_symbol routines and free_symbolic routines for advanced usage
  klujax.cpp
  klujax.py
  tests.py
Due: pyright

added pointer management classes
  klujax.py
Due: pyright

defined template KluTraits so as to eliminate double definitions for complex and float versions
  klujax.cpp
Due: none

docs: added docstrings to solve with symbol
  klujax.py
Due: pyright

bug:check if jax is None before trying to free pointer
  klujax.py
Due: pyright
