Repository flaport/klujax: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pyright

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

pyright:
  name: pyright
  entry: uv run --no-sync pyright
  language: system

update dependencies
  pyproject.toml
  uv.lock
Due: none

check if Ai/Aj indices are smaller than n_col
  klujax.cpp
Due: none

update tests
  tests.py
Due: pyright

implement batching; start implementing differentiation
  klujax.py
  pyproject.toml
  tests.py
Due: pyright

transpose implemented.
  .pre-commit-config.yaml
  klujax.py
  tests.py
Due: prettier, pyright

jacfwd and jacrev for dot should be correct now.
  klujax.py
  tests.py
Due: pyright

cpp: refactor out argument validation
  klujax.cpp
Due: none

cpp: add dot_c128
  klujax.cpp
Due: none

add complex dot
  klujax.cpp
  klujax.py
  tests.py
Due: pyright

cpp: mark consts
  klujax.cpp
  tests.py
Due: pyright

solve implemented. Running into nans
  klujax.cpp
  klujax.py
  tests.py
Due: pyright

update dependencies
  .gitignore
  pyproject.toml
  uv.lock
Due: none

sparse matrices need to be coalesced for solve
  Makefile
  README.md
  klujax.py
  tests.py
Due: prettier, pyright

formatting
  klujax.py
  pyproject.toml
Due: pyright

i would like to get rid of that transpose
  klujax.cpp
  solve.ipynb
Due: none

rhs working properly now
  klujax.cpp
  solve.ipynb
  tests.py
Due: pyright

improve vmap test
  tests.py
Due: pyright

grads are working for solve
  klujax.cpp
  klujax.py
  tests.py
Due: pyright

towards c128 re-implementation
  klujax.cpp
  klujax.py
  solve.ipynb
Due: pyright

complex gradients are not working yet
  Makefile
  klujax.cpp
  tests.py
  uv.lock
Due: pyright

regression in float64 solve?!
  klujax.cpp
  klujax.py
  pyproject.toml
  solve.ipynb
  tests.py
Due: pyright

gradients are working properly now
  klujax.py
  tests.py
Due: pyright

shape wrangling
  klujax.py
  solve.ipynb
  tests.py
Due: pyright

tests are passing
  Makefile
  solve.ipynb
  tests.py
Due: pyright

try to fix workflow builds
  .github/workflows/main.yml
  .github/workflows/pr.yml
  Makefile
  pyproject.toml
  uv.lock
Due: prettier

remove notebook
  solve.ipynb
Due: none

make ruff happy
  .github/run_tests.py
  pyproject.toml
Due: pyright

bump suitesparse version
  Makefile
Due: none

use specific xla commit
  Makefile
Due: none

update readme
  README.md
Due: prettier

Bump to 0.4.0
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

update changelog
  CHANGELOG.md
Due: prettier

update build and release workflow
  .github/workflows/main.yml
  CHANGELOG.md
Due: prettier

relax jax requirement
  pyproject.toml
  uv.lock
Due: none

Bump to 0.4.1
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

free numeric after iteration + free other vars in c128
  klujax.cpp
Due: none

Bump to 0.4.2
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

update github workflows
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: prettier

QEME arm64 build
  .github/workflows/main.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|md|yaml|yml|json|css)$
  pyright: any of: \.(py)$
